<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i>{{'mainMenu.About' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <div class="banner">
           
            <div class="row">
                <div class="col-sm-5">
                    <h2>Zohra Software Solutions<sup>&reg;</sup></h2>
                    <p>Contact us and we'll get back to you within 24 hours.</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span> Tunis, Tunisia</p>
                    <p><span class="glyphicon glyphicon-phone"></span> +216 20 803 523</p>
                    <p><span class="glyphicon glyphicon-envelope"></span> <a class="black-anchor" href="mailto:benahmedzohra@hotmail.com">benahmedzohra@hotmail.com</a></p>
                    <p><span class="glyphicon glyphicon-globe"></span> <a class="black-anchor" target="_blank" href="http://www.ebenmonney.com">www.benahmedzohra.com</a></p>
                    <br />
                </div>
            </div>
            <div class="banner-text text-center">
                <h1 class="white">Healthcare at your desk!!</h1>
                <p> Book for your appoitment in just one click.</p>
            </div>
            <div class="col-md-4 col-sm-4 marb20">
                <div class="info-sec">
                    <ul class="social-icon">
                        <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                        <li class="bgred"><i class="fa fa-google-plus"></i></li>
                        <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                        <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
