<div>
    <form *ngIf="formResetToggle" class="form-horizontal" name="departmentEditorForm" #f="ngForm" novalidate
          (ngSubmit)="f.form.valid ? save() :
          (!departmentName.valid && showErrorAlert('Department name is required', 'Please enter a department name'));">

        <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="departmentName">{{'departments.Name' | translate}}</label>
            <div class="col-md-10" [ngClass]="{'has-success': f.submitted && departmentName.valid, 'has-error' : f.submitted && !departmentName.valid}">
                <input type="text" id="departmentName" name="departmentName" placeholder="Enter department name" class="form-control" [(ngModel)]="departmentEdit.name" #departmentName="ngModel" required />
                <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': departmentName.valid, 'glyphicon-remove' : !departmentName.valid}"></span>
                <span *ngIf="showValidationErrors && f.submitted && !departmentName.valid" class="errorMessage">
                    {{'departments.valn' | translate}}
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="edit-separator-hr" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="departmentDescription">{{'departments.Description' | translate}}</label>
            <div class="col-md-10">
                <input type="text" id="departmentDescription" name="departmentDescription" placeholder="Enter department description" class="form-control" [(ngModel)]="departmentEdit.description" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="edit-last-separator-hr" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i>{{'departments.Cancel' | translate}}</button>
                    <button *ngIf="canManageDepartments" type="submit" class="btn btn-primary" [disabled]="isSaving">
                        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? 'Saving...' : 'Save'}}
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
